body {
  margin: 0;
  height: 100%;
  background-color: #233338;
}


#main {
  text-align: center;
  width: 100%;
  max-width: 1500px;
  height: 100%;
  margin: 0 auto;
}
#main:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}

#default-new-tab {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1em;
  font-family: sans-serif;
  font-weight: bold;
  color: #d3e3e8;
  opacity: 0.3;
  cursor: pointer;
}
#default-new-tab:hover {
  opacity: 1;
}
#default-new-tab:hover .arrow {
  color: yellow;
}

.album-list {
  display: inline-block;
  vertical-align: middle;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 90%;
}

.album-list-item {
  box-sizing: border-box;
  float: left;
  width: 33%;
  padding: 10px;
}

.album-art {
  position: relative;
  display: block;
  width: 100%;
  transition-property: all;
  transition-duration: 50ms;
  border-bottom: 3px solid transparent;
}
.album-art:hover {
  border-color: yellow;
  opacity: 0.95;
}

.album-art img {
  max-width: 100%;
  border: 1px solid transparent;
}
